@page
@model AWO_Orders.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Übersicht Bestellungen</h1>

<p>
    @if (LoginItem.Right.CanOrder || LoginItem.Right.CanProcess)
    {
    <a asp-page="Create"><img alt="Neu" src="Images\hinzufuegen32.png" /></a>
    }
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>Suche [Nummer/Mitarbeiter]</p>
        <p><input class="form-control" name="searchString" width="200" value="@Model.FilterText" /></p>
    </div>
    <div class="form-actions no-color">
        <p>Status</p>
        <p> <select name="filterStatusId" asp-for="FilterStatusId" width="200" value ="@Model.FilterStatusId" class="form-control" asp-items="ViewBag.StatusId" onchange="submit()"></select></p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].PlaceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].EmplId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].Changed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].ChangedBy)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderModel) {
        <tr>
            <td>
                @if (LoginItem.Right.CanOrder || LoginItem.Right.CanProcess) 
                { 
                    <a asp-page="./Edit" asp-route-id="@item.Id"><img alt="Bearbeiten" src="Images\bearbeiten32.png" /></a>
                    <a asp-page="./Delete" asp-route-id="@item.Id"><img alt="Löschen" src="Images\loeschen32.png" /></a>
                }

                @if (LoginItem.Right.CanView)
                {
                    <a asp-page="/OrderPositions/Index" asp-route-id="@item.Id"><img alt="Details" src="Images\detailansicht32.png" /></a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Ident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empl.SureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Changed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.SureName)
            </td>
        </tr>
}
    </tbody>
</table>
