@page
@model AWO_Orders.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

    <h1>Mitarbeiter</h1>

<h3>wirklich löschen?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.SureName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.SureName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.Job)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.Job)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.EMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.IsManager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.IsManager)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.RightId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.RightId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.LocationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.LocationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.Changed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.Changed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.ChangedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.ChangedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EmployeeModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Zurück</a>
    </form>
</div>
