@page
@model AWO_Orders.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.SureName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.SureName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.Job)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.Job)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.EMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.IsManager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.IsManager)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.RightId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.RightId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.LocationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.LocationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.PasswordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.PasswordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.Changed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.Changed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeModel.ChangedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeModel.ChangedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmployeeModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>