@page
@model AWO_Orders.Pages.ExternalOrders.DetailsModel

@{
    ViewData["Title"] = "Details";
}
@inject AWO_Orders.Data.LocationContext locContext
<h1>Externe Bestellung #@Model.ExternalOrderModel.Id</h1>
<form method="post" asp-page-handler="PDF">
    <div>
        <hr />
        <dl class="row">
            <dd class="col-sm-10">
                Erstellt von:
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExternalOrderModel.Manager.Forename) @Html.DisplayFor(model => model.ExternalOrderModel.Manager.SureName)
            </dd>
        </dl>
        <dl>
            <dd class="col-sm-10">
                @Html.DisplayNameFor(model => model.ExternalOrderModel.ProcessedAt):
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExternalOrderModel.ProcessedAt)
            </dd>
        </dl>
        <dl>
            <dd class="col-sm-10">

                <div class="form-group">
                    <input asp-for="ExternalOrderModel.Notes" value="-" class="form-control" type="hidden" />
                    <label asp-for="ExternalOrderModel.Notes" class="control-label"></label>:<br />
                    @if (!Model.Print)
                    {
                        <textarea rows="5" style="width:600px" id="notes" name="notes">@Model.ExternalOrderModel.Notes</textarea>
                    }
                    else
                    {
                        <textarea rows="5" style="width:600px;border:none" id="notes" name="notes">@Model.ExternalOrderModel.Notes</textarea>
                    }
                    <span asp-validation-for="ExternalOrderModel.Notes" class="text-danger"></span>
                </div>
            </dd>
        </dl>

        <dl>
            <dd class="col-sm-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th align="left">
                                @Html.DisplayNameFor(model => model.OrderPosition[0].Number)
                            </th>
                            <th align="left">
                                @Html.DisplayNameFor(model => model.OrderPosition[0].Description)
                            </th>
                            <th align="left">
                                @Html.DisplayNameFor(model => model.OrderPosition[0].ArticleNumber)
                            </th>
                            <th align="left">
                                @Html.DisplayNameFor(model => model.OrderPosition[0].Count)
                            </th>
                            <th align="left">
                                Auftrag
                            </th>
                            <th align="left">
                                Artikelart
                            </th>
                            <th align="left">
                                Mitarbeiter
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.OrderPosition.GroupBy(x => x.Employee.LocationId))
                        {

                            var location = locContext.Locations.SingleOrDefault(l => l.Id == group.First().Employee.LocationId);
                            var groupName = "Niederlassung: " + location.Ident + "  -  Gebiet: " + location.Area + "  -  Kostenstelle: " + location.CostCenter;

                            <tr>
                                <td colspan="11">
                                    <b>
                                        @groupName
                                    </b>
                                </td>
                            </tr>
                            @foreach (var item in group)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ArticleNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Count)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Order.Number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ArticleType.Ident)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Order.Empl.SureName)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    @if (!Model.Print)
    {

        <div class="form-group">
            <input type="hidden" name="id" value="@Model.ExternalOrderModel.Id" />
            <input type="submit" value="Erstellen" class="btn btn-primary" />
        </div>

        <div>
            <a asp-page="./Index">Zur Übersicht</a>
        </div>
    }
</form>
