@page
@model AWO_Orders.Pages.ExternalOrders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Externe Bestellungen</h1>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>Suche [Manager/Bemerkung]</p>
        <p><input class="form-control" name="searchString" width="200" value="@Model.FilterText" /></p>
        <input type="hidden" name="pageIndex" value="@Model.ExternalOrderModel.PageIndex" />
        <input type="hidden" name="from" width="200" value="@Model.From" />-
        <input type="hidden" name="to" width="200" value="@Model.To" />
    </div>
</form>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            @Html.EditorFor(m => m.dtFrom, "", "from")
            @Html.EditorFor(m => m.dtTo, "", "to")
            <input type="hidden" name="pageIndex" value="@Model.ExternalOrderModel.PageIndex" />
            <input type="hidden" name="searchString" value="@Model.FilterText" />
            <input type="submit" value="Anzeigen" class="btn btn-primary" />
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalOrderModel[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalOrderModel[0].Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalOrderModel[0].ProcessedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalOrderModel[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalOrderModel[0].Changed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalOrderModel[0].ChangedBy)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExternalOrderModel)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id"><img alt="Details" src="\Images\detailansicht32.png" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.SureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Changed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.SureName)
                </td>
            </tr>
        }
        @{
            var prevDisabled = !Model.ExternalOrderModel.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.ExternalOrderModel.HasNextPage ? "disabled" : "";
        }

        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.ExternalOrderModel.PageIndex - 1)"
           asp-route-searchString="@Model.FilterText"
           asp-route-from="@Model.From"
           asp-route-to="@Model.To"
           class="btn btn-primary @prevDisabled">
            <img alt="Zurück" src="Images\zuruech32.png" width="32" height="32" />
        </a>
        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.ExternalOrderModel.PageIndex + 1)"
           asp-route-searchString="@Model.FilterText"
           asp-route-from="@Model.From"
           asp-route-to="@Model.To"
           class="btn btn-primary @nextDisabled">
            <img alt="Weiter" src="Images\weiter32.png" width="32" height="32" />
        </a>
        @Model.From.ToString() - @Model.To.ToString()
    </tbody>
</table>