@page
@model AWO_Orders.Pages.Rights.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Recht</h1>

<h3>wirklich löschen?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RightModel.Ident)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RightModel.Ident)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RightModel.CanView)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RightModel.CanView)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RightModel.CanOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RightModel.CanOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RightModel.CanProcess)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RightModel.CanProcess)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RightModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Zurück</a>
    </form>
</div>
