@page
@model AWO_Orders.Pages.Rights.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Übersicht Rechte</h1>

<p>
    <a asp-page="Create"><img alt="Neu" src="Images\hinzufuegen32.png" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.RightModel[0].Ident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightModel[0].CanView)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightModel[0].CanOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightModel[0].CanProcess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightModel[0].Changed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightModel[0].ChangedBy)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RightModel) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"><img alt="Bearbeiten" src="Images\bearbeiten32.png" /></a>
                <a asp-page="./Delete" asp-route-id="@item.Id"><img alt="Löschen" src="Images\loeschen32.png" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanProcess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Changed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.SureName)
            </td>
        </tr>
}
    </tbody>
</table>