@page
@model AWO_Orders.Location.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Niederlassung</h1>

<h3>wirklich löschen?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationModel.Ident)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationModel.Ident)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationModel.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationModel.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationModel.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationModel.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationModel.PLZ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationModel.PLZ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationModel.Changed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationModel.Changed)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="LocationModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Zurück</a>
    </form>
</div>