@page
@model AWO_Orders.Location.IndexModel

@{
    ViewData["Title"] = "Niederlassungen";
}

    <h1>Niederlassungen</h1>

<p>
    <a asp-page="Create">Neu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].Ident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].PLZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].Changed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].ChangedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LocationModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Changed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.SureName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
