@page
@model AWO_Orders.Location.IndexModel

@{
    ViewData["Title"] = "Niederlassungen";
}

    <h1>Niederlassungen</h1>

<p>
    <a asp-page="Create"><img alt="Neu" src="Images\hinzufuegen32.png" /></a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>Suche [Name]</p>
        <p><input class="form-control" name="searchString" width="200" value="@Model.FilterText" /></p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].Ident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].PLZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel[0].CostCenter)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.LocationModel[0].Changed)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.LocationModel[0].ChangedBy)
            </td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LocationModel) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"><img alt="Bearbeiten" src="Images\bearbeiten32.png" /></a>
                <a asp-page="./Delete" asp-route-id="@item.Id"><img alt="Löschen" src="Images\loeschen32.png" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostCenter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Changed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.SureName)
            </td>
        </tr>
}
    </tbody>
</table>